h1 {font-size: 3em}
input {
	border-radius: 99px;
	display: block;
} 
h3 {font-size: 1.3em}



textarea {
    border-color : red;
    border-style: solid;
    border-width: 2px;
}

textarea:focus {
    border-color : green;
    border-style: solid;
    border-width:4px;
    border-radius:4px;
    background-color: yellow
}